$positive: #DE4F4F;
$loading-font-size: 22px;

@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/ionic';
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionicons-sass/ionicons';

.ionic-body.platform-android {
  font-family: "Roboto", sans-serif;

  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Roboto", sans-serif;
  }

  .tab-item {
    font-family: "Roboto", sans-serif;
  }
}

.ion-slide {
  text-align: center;
  padding-top: 200px;

  &.dark-bg {
    h3 {
      color: #fff;
    }
  }
}

.popover {
  height: auto;
}

.item-button-left, .item-button-right {
  button {
    top: 16px !important;
  }
}

.button.vote-button {
  width: 30px;
  max-width: 30px;
  min-width: 30px;
  padding: 20px 0 0 0;
  position: absolute;
  top: 16px;
  left: 16px;
  font-size: 12px;
  border: 0;
  border-radius: $border-radius-base;
  line-height: 20px;

  &.has-voted {
    .icon {
      color: $positive;
    }
  }

  .icon {
    height: 20px;
    top: 4px;

    &:before {
      font-size: 20px;
      line-height: 20px;
    }
  }
}