<template name="_deviceEdit">
  {{#ionModal customTemplate=true}}
    {{#autoForm collection="Devices" doc=device id="device-edit-form" type="update"}}
      <div class="bar bar-header bar-stable">
        <button data-dismiss="modal" type="button" class="button button-clear">Cancel</button>
        <h2 class="title">Edit device</h2>
        <button type="submit" class="button button-positive button-clear">Save</button>
      </div>
      <div class="content has-header overflow-scroll">
        {{> afQuickField name='model' options="allowed" }}
        {{> afQuickField name='UUID'}}
        {{> afQuickField name='sensors' options=numSelectOptions}}
        {{> afQuickField name='locate'}}
        {{> afQuickField name='owner'}}
        {{> afQuickField name='viewer'}}
      </div>
    {{/autoForm}}
  {{/ionModal}}
</template>
