<template name="_deviceEdit">
  {{#ionModal customTemplate=true}}
    {{#autoForm collection="Devices" doc=device id="device-edit-form" type="update"}}
      <div class="bar bar-header bar-stable">
        <button data-dismiss="modal" type="button" class="button button-clear">Cancel</button>
        <h2 class="title">Edit device</h2>
        <button type="submit" class="button button-positive button-clear">Save</button>
      </div>
      <div class="content has-header overflow-scroll">
        {{> afQuickFields omitFields="owner"}}
      </div>
    {{/autoForm}}
  {{/ionModal}}
</template>
