<template name="dashBoard">
  {{#if currentUser}}
    {{#ionSideMenuContainer side ="left"}}
      {{#ionSideMenu}}
        {{ > leftSideMenu}}
        {{> yield "leftSideBar"}}
      {{/ionSideMenu}}

    {{#ionSideMenuContent}}
        {{#contentFor "headerTitle"}}
          <h1 class="title">Active Devices</h1>
        {{/contentFor}}
        {{#contentFor "headerButtonLeft"}}
            <button class="button button-clear pull-left" data-ion-menu-toggle="left">
              {{#if isAndroid}}
                {{> ionIcon icon='android-more-vertical'}}
              {{else}}
                {{> ionIcon icon='navicon'}}
              {{/if}}
            </button>
          {{/contentFor}}
        {{#contentFor "headerButtonRight"}}
          <button class="button button-clear" data-ion-modal="_deviceNew">{{> ionIcon icon="ios-plus-empty"}}</button>
        {{/contentFor}}
            {{#ionList}}
             {{#each devices}}
                {{#ionItem path="deviceInfo" class="item-button-right" }}
                  <h2>{{model}}</h2>
                  <p>{{locate}}</p>
                  {{#if viewOnly viewer}}
                    <icon class="button button-clear">{{> ionIcon icon="ios-eye"}}</icon>
                  {{else}}
                    {{> _deleteButton}}
                  {{/if}}
                {{/ionItem}}
              {{/each}}
            {{/ionList}}
            <button class="button button-positive button-block" data-action="logout">Log Out</button>
            
      {{/ionSideMenuContent}}
    {{/ionSideMenuContainer}}
  {{/if}}
</template>
