<template name="deviceInfo">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="/" text="DashBoard"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Details</h1>
  {{/contentFor}}


  {{#contentFor "headerButtonRight"}}
    {{#if viewOnly device.viewer}}
       <button class="button button-clear" data-ion-modal="_viewOnly">{{> ionIcon icon="ios-eye"}}</button>
    {{else}}
       <button class="button button-clear" data-ion-modal="_deviceEdit" data-id="{{device._id}}"> {{> ionIcon icon="edit"}} </button>
    {{/if}}
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent class="padding contact-detail"}}
      {{#with device}}
        <div class="list card">

          <div class="item item-divider">
            <h2>{{device.model}}</h2>
            <p>{{device.locate}}</p>
          </div>

          <div class="item item-body">
            <h3>Device Information</h3>
            <p>
              <b>Owners of device:</b>
              {{#each device.owner}}
              <br>
              {{email}}
              {{/each}}
            </p>
            <p>
              <b>Viewers of device:</b>
              {{#each device.viewer}}
              <br>
              {{email}}
              {{/each}}
            </p>
          </div>

          <div class="item item-body">
            <h4>Sensors Information</h4>
            <p>
              {{#each device.sensors}}
                {{#if equals type "Temperature"}} 
                  {{type}} :
                  {{> chartDisplay}}
                {{/if}}
                {{#if equals type "pressure"}} 
                  {{type}} :
                {{/if}}
                <br>
                {{/each}}
            </p>
          </div>

        </div>
      {{/with}}
    {{/ionContent}}
  {{/ionView}}
</template>
